$blauw: #2196F3;
$lichtblauw:#E3F2FD;

/*
body{
=======
body {
>>>>>>> master
    padding: 0px;
}
.navbar {
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    * {
        color: lightgray;
        height: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
<<<<<<< HEAD
    
    ul {
        padding-left: 0px;
        
        li{
            display: inline;
        }
    }
    
    a{
=======
    a {
>>>>>>> master
        margin-left: 0px !important;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        line-height: 50px;
    }
<<<<<<< HEAD
    
    a:hover{
        color:white !important;
=======
    a:hover {
        color: white;
>>>>>>> master
        text-decoration: none;
        background-color: rgba(0,0,0, 0.9)
    }
    & + * {
        margin-top: 50px !important;
    }
}
<<<<<<< HEAD
*/

footer {
    width: 100%;
    height: 50px;
    position:relative;
    bottom: 50px;
    background-color: $lichtblauw;
}


@media screen and (max-device-width: 480px){
    $phone-nav-hoogte: 50px;
    $phone-nav-breedte: 80%;
    .navbar{
        width: $phone-nav-breedte;
        height: 100%;
        padding: 0px;
        
        *{
            padding: 0px;
            font-size: 20px;
        }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        ul li {
            display: table;
=======
        
        ul li{                
>>>>>>> refs/remotes/origin/master
=======
        
        ul li{                
            display:table;
>>>>>>> parent of 331cfca... iets
=======
        
        ul li{                
            display:table;
>>>>>>> parent of 331cfca... iets
            list-style: none;
            width: 100%;
            height: $phone-nav-hoogte;
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: $phone-nav-hoogte - 6.8*2;
        }
        
        .nav-brand{
            img, a{
                height: $phone-nav-hoogte;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        a {
=======
        
        a{
            height: 100%;
>>>>>>> refs/remotes/origin/master
=======
        
        a{
>>>>>>> parent of 331cfca... iets
=======
        
        a{
>>>>>>> parent of 331cfca... iets
            width: 100%;
            padding-left: 20px;
            color: white !important;
            &:active{
                background-color: darken($blauw, 25%);
            }
        }
        
        .active{
            background-color: darken($blauw, 25%);
        }
    }
    
    .hidden{
        left: -$phone-nav-breedte;
    }
    
    .extending{
        left: -$phone-nav-breedte;
        animation-name: extend;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
    
    @keyframes extend{
        from{
            left:-$phone-nav-breedte;
        }
        to{
            left:0px;
        }
    }
    
    .collapsing{
        left: 0px;
        animation-name: collapse;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
    
    @keyframes collapse{
        from{
            left: 0px;
        }
        to{
            left: -$phone-nav-breedte;
        }
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    .content {
        margin-top: $phone-nav-hoogte !important;
    }
    .nav-button {
=======
    
    .content{
        margin-top: $phone-nav-hoogte;
    }
    
    
    
    .nav-button{      
>>>>>>> refs/remotes/origin/master
=======
    
    .content{
        margin-top: $phone-nav-hoogte !important;
    }
    
    .nav-button{      
>>>>>>> parent of 331cfca... iets
=======
    
    .content{
        margin-top: $phone-nav-hoogte !important;
    }
    
    .nav-button{      
>>>>>>> parent of 331cfca... iets
        height: $phone-nav-hoogte;
        text-align: right;
        vertical-align: middle;
        background-color: $blauw;
<<<<<<< HEAD
        color: white;
        padding: 5px 10px;
        #nav-btn{
            background-color: rgba(0,0,0, 0.5);
            padding-left: 10px;
            padding-right: 10px;
=======
        color: lightgray;
        display: table-cell;
        padding: 10px;
        #nav-btn{
>>>>>>> refs/remotes/origin/master
            font-size: 25px;
            margin-right: 10px;
        }
        
        .active{
            color: white;
        }
    }
}
    




//laura
.kop {
    background-color: $blauw
}
.rowkleur {
    background-color: $lichtblauw
}
@media (min-width: 481px) and (max-width:544px) {
    .container {
        margin: 0px;
        padding: 0px;
        max-width: 544px;
        text-align: center;
        padding-bottom: 50px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .kop {
            background: $blauw;
            padding: 30px 15px;
        }
        .tekst {
            padding: 0px 20px 10px 20px;
        }
        .instaleren {}
        .backup {}
        .Defragmenteren {}
    }
}
@media (min-width: 544px) and (max-width:768px) {
    .container {
        margin: 0px;
        padding: 0px;
        max-width: 768px;
        text-align: center;
        padding-bottom: 50px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .tekst {
            padding: 0px 35px 10px 35px;
        }
        .kop {
            padding: 35px 35px;
        }
    }
}
@media (min-width: 768px) and (max-width:992px) {
    .container {
        margin: 0px;
        padding: 0px 0px 50px 0px;
        max-width: 992px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .kop {
            height: 100%;
            text-align: center;
            padding: 50px 40px 80px 40px;
        }
        .tekst {
            padding: 0px 35px 10px 35px;
        }
        .row {
            padding: 0px 70px;
            .afb {
                background-color: limegreen;
                vertical-align: middle !important;
                text-align: center;
                padding: 20px;
                margin: 90px 0px;
                height: 50%;
            }
        }
    }
}
@media (min-width: 992px){
    .container{
        margin: 0px;
        padding: 0px 0px 50px 0px;
        max-width: 100%;
    }
    .kop{
        text-align: center;
        padding: 100px 75px;
    }
    h1{
        padding: 30px;
    }
    h2{
        padding: 15px;
    }
    .tekst{
        padding: 20px 50px ;
    }
}