$blauw: #2196F3;
$lichtblauw:#E3F2FD;
<<<<<<< HEAD
/*
body{
=======
body {
>>>>>>> master
    padding: 0px;
}
.navbar {
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    * {
        color: lightgray;
        height: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
<<<<<<< HEAD
    
    ul {
        padding-left: 0px;
        
        li{
            display: inline;
        }
    }
    
    a{
=======
    a {
>>>>>>> master
        margin-left: 0px !important;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        line-height: 50px;
    }
<<<<<<< HEAD
    
    a:hover{
        color:white !important;
=======
    a:hover {
        color: white;
>>>>>>> master
        text-decoration: none;
        background-color: rgba(0,0,0, 0.9)
    }
    & + * {
        margin-top: 50px !important;
    }
}
<<<<<<< HEAD
*/
.content{
=======
.content {
    margin-bottom: 50px;
>>>>>>> master
}
footer {
<<<<<<< HEAD
=======
    position: fixed!important;
    bottom: 0px;
>>>>>>> master
    width: 100%;
    height: 50px;
    background-color: $lichtblauw;
}
<<<<<<< HEAD


@media screen and (max-device-width: 480px){
    
    
    .navbar{
        width: 180px;
        height: 100%;
        
        *{
            padding: auto;
            padding-left: 5px;
        }
        
        .nav-brand img{
            height: 50px;
        }
        
        ul li{
            display:table;
            list-style: none;
        }
    }
    
    .hidden{
        position: absolute;
        left: -180px;
    }
    
    .nav-button{
        height: 70px;
        text-align: right;
        vertical-align: middle;
        background-color: $blauw;
        color: white;
        padding-right: 20px;
        *{
            background-color: rgba(0,0,0, 0.4);
            margin-top: 5px;
            text-align: center;
            vertical-align: middle;
        }
=======
//laura
.kop {
    background-color: $blauw
}
.rowkleur {
    background-color: $lichtblauw
}
@media (min-width: 0px) and (max-width:544px) {
    .container {
        margin: 0px;
        padding: 0px;
        max-width: 544px;
        text-align: center;
        padding-bottom: 50px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .kop {
            background: $blauw;
            padding: 30px 15px;
        }
        .tekst {
            padding: 0px 20px 10px 20px;
        }
        .instaleren {}
        .backup {}
        .Defragmenteren {}
    }
}
@media (min-width: 544px) and (max-width:768px) {
    .container {
        margin: 0px;
        padding: 0px;
        max-width: 768px;
        text-align: center;
        padding-bottom: 50px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .tekst {
            padding: 0px 35px 10px 35px;
        }
        .kop {
            padding: 35px 35px;
        }
    }
}
@media (min-width: 768px) and (max-width:992px) {
    .container {
        margin: 0px;
        padding: 0px 0px 50px 0px;
        max-width: 992px;
        h1 {
            font-size: 55px;
            padding: 20px;
        }
        h2 {
            padding: 20px 0px;
        }
        .kop {
            height: 100%;
            text-align: center;
            padding: 50px 40px 80px 40px;
        }
        .tekst {
            padding: 0px 35px 10px 35px;
        }
        .row {
            padding: 0px 70px;
            .afb {
                background-color: limegreen;
                vertical-align: middle !important;
                text-align: center;
                padding: 20px;
                margin: 90px 0px;
                height: 50%;
            }
        }
    }
}
@media (min-width: 992px){
    .container{
        margin: 0px;
        padding: 0px 0px 50px 0px;
        max-width: 100%;
    }
    .kop{
        text-align: center;
        padding: 100px 75px;
    }
    h1{
        padding: 30px;
    }
    h2{
        padding: 15px;
    }
    .tekst{
        padding: 20px 50px ;
>>>>>>> master
    }
}