.verborgen{
    visibility: hidden;
    display: none;
}

/* transition*/

.knoppen{
    padding: 10px;
    background-color: lightblue;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
}

.knoppen:hover{
    background-color: darkblue;
}

.animatie{
    position: relative;
    animation-name: spaceInvader;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes spaceInvader{
    0% {
        left:0px;
    }
    50% {left:700px;
    }
    100% {
        left:0px;
    }
}

@keyframe spaceInvader{
    0% {
        left:0px;
    }
    50% {left:700px;
    }
    100% {
        left:0px;
    }
}