.verborgen{
    visibility: hidden;
    display: none;
}

/* transition*/

div .knoppen{
    height: 300;
    background-color: lightblue;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
}

.knoppen:hover{
    background-color: darkblue;
}