container {
  margin: 0px;
  max-width: auto;
}

article {
  padding: 15px;
}

.browsers {
  align-content: center;
  margin-top: 45px;
  padding: 10px;
  background-color: inherit;
  font-size: 4em;
}
.browsers i:hover {
  -webkit-animation-name: draaien;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-name: draaien;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.browsers i {
  text-align: center;
  padding: 10px;
}

@keyframes draaien {
  to {
    transform: rotate(360deg);
  }
}
canvas {
  border: 2px solid red;
}

.tekening {
  text-align: center;
  color: white;
  background-color: green;
  margin: 45px 22%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: green;
  -webkit-transition: border-radius 2s, background-color 2s, transform 2s;
  transition: border-radius 2s, background-color 2s, transform 2s;
  padding: 13%;
}

.tekening .fa-times,
.tekening:hover .fa-check {
  display: none;
}

.tekening:hover .fa-times {
  display: block;
}

.tekening:hover {
  height: 200px;
  width: 200px;
  border-radius: 0%;
  background-color: red;
  transform: rotate(360deg);
}

footer {
  margin: 0px;
  background-color: #E3F2FD;
  padding: 30px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
footer * {
  padding: 10px;
  text-align: center;
}
