

body { 
  color:white;
  background-color:black;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  
  font-family: VT323, sans-serif;
  font-size: 30px;
  margin-left: 40px;}
  
 @media screen and (min-width: 481px) {
	body {background-image: url(images/pacman3.jpg);}
}
  

@media screen and (min-width : 320px) and (max-width : 480px)
{
	body {
        background-image: url(images/pacmob.jpg);    
        background-size:contain;
    }
}