$lightblauw:#E3F2FD;
$margin-top-titel:45px;
//    achtergrond invoegen
//    background-image: url(../StartToClean/img/headerlaura.jpg);
//    background-repeat: no-repeat;
//    background-size: cover;

//draaien iconen browsers
.browsers {
    align-content: center;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    background-color: inherit;
    font-size: 4em;
    i:hover {
        -webkit-animation-name: draaien;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        animation-name: draaien;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    i {
        text-align: center;
        padding: 10px;
    }
    div{
        text-align: center;
    
    }
}
figcaption{
    text-align: center;
}
@keyframes draaien {
    to {
        transform: rotate(360deg);
    }
}

//canvas

.canva{
    text-align: center;
    margin-top: $margin-top-titel;
}
canvas {
    border: 2px solid red;
}


//transition vinkje en kruisje
.tekening {
    text-align: center;
    position: relative;
    color: white;
    background-color: green;
    margin: $margin-top-titel 22%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: green;
    -webkit-transition:border-radius 2s,background-color 2s,transform 2s;
    transition: border-radius 2s, background-color 2s,transform 2s;
    i{
       position: absolute;
       top: 50%;
       left: 50%;
        transform: translate(-50%,-50%);
    }
}


//verandering van icoon
.tekening .fa-times,
.tekening:hover .fa-check {
    display: none;
}
.tekening:hover .fa-times {
    display: block;
}
.tekening:hover {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background-color: red;
    transform: rotate(360deg);
}



